<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href={{url_for("static",
        filename="css/style.css")}}>
        <title>Contacts</title>
    </head>

    <body>
        <h1>Seus Contatos</h1>
        <table style="width: 100%">
            <tr>
                <th>Dominio</th>
                <th>Email</th>
                <th>Nome</th>
            </tr>
            {% for key in data %}
            <tr>
                <th rowspan="{{data[key]|length + 1}}">{{key}}</th>
                {% for contact in data[key] %}
                <tr>
                    <td>{{contact.email}}</td>
                    <td>{{contact.name}}</td>
                </tr>
                
                {% endfor %}
            </tr>
            <!---->
            {% endfor %}
        </table>
    </body>
</html>
